<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ vite_entry_script_tags('app', {
            dependency: 'react'
        }) }}
    {% endblock %}
</head>

<body>
    {% block body %}
        <div
                class="min-h-full min-w-full flex items-center justify-center"
                {% block react_component %}{% endblock %}
        >
            <twig:Spinner />
        </div>
    {% endblock %}
</body>
</html>
